In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/mlb_teams.csv')

In [3]:
df[df['yearID'] == 2000][['name','franchID']]

                       name franchID
2325         Anaheim Angels      ANA
2326   Arizona Diamondbacks      ARI
2327         Atlanta Braves      ATL
2328      Baltimore Orioles      BAL
2329         Boston Red Sox      BOS
2330      Chicago White Sox      CHW
2331           Chicago Cubs      CHC
2332        Cincinnati Reds      CIN
2333      Cleveland Indians      CLE
2334       Colorado Rockies      COL
2335         Detroit Tigers      DET
2336        Florida Marlins      FLA
2337         Houston Astros      HOU
2338     Kansas City Royals      KCR
2339    Los Angeles Dodgers      LAD
2340      Milwaukee Brewers      MIL
2341        Minnesota Twins      MIN
2342         Montreal Expos      WSN
2343       New York Yankees      NYY
2344          New York Mets      NYM
2345      Oakland Athletics      OAK
2346  Philadelphia Phillies      PHI
2347     Pittsburgh Pirates      PIT
2348       San Diego Padres      SDP
2349       Seattle Mariners      SEA
2350   San Francisco Giants      SFG
2351    St. Louis Cardinals      STL
2352   Tampa Bay Devil Rays      TBD
2353          Texas Rangers      TEX
2354      Toronto Blue Jays      TOR

In [4]:
cardinals_franchid = 'STL'
cubs_franchid = 'CHC'

In [4]:
df[ (df['franchID']==cardinals_franchid) & (df['yearID']>=2000) & (df['yearID']<=2010) ]

NameError: name 'cardinals_franchid' is not defined

In [8]:
stl_average_wins = df[ (df['franchID']==cardinals_franchid) & (df['yearID']>=2000) & (df['yearID']<=2010) ]['W'].mean()
chc_average_wins = df[ (df['franchID']==cubs_franchid) & (df['yearID']>=2000) & (df['yearID']<=2010) ]['W'].mean()

In [9]:
stl_average_wins

90.81818181818181

In [10]:
chc_average_wins

80.18181818181819

In [11]:
difference = stl_average_wins - chc_average_wins

In [12]:
difference

10.636363636363626

In [11]:
round(difference)

11