In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('../data/time_series.csv')

In [3]:
print (df.loc[0, 'datetime'], type(df.loc[0, 'datetime']))

2023-01-01T00:00:00 <class 'str'>

In [4]:
df['datetime_obj'] = df['datetime'].apply( lambda x: datetime.datetime.fromisoformat(x) )

In [5]:
df_tuesday = df[df['datetime_obj'].dt.weekday == 1]

In [6]:
df_tuesday.sample(10)

                 datetime     value        datetime_obj
6114  2023-09-12T18:00:00  0.761885 2023-09-12 18:00:00
4754  2023-07-18T02:00:00  0.513036 2023-07-18 02:00:00
2085  2023-03-28T21:00:00  0.104943 2023-03-28 21:00:00
59    2023-01-03T11:00:00  0.251107 2023-01-03 11:00:00
6602  2023-10-03T02:00:00  0.809938 2023-10-03 02:00:00
3259  2023-05-16T19:00:00  0.389810 2023-05-16 19:00:00
8301  2023-12-12T21:00:00  0.181678 2023-12-12 21:00:00
1915  2023-03-21T19:00:00  0.838741 2023-03-21 19:00:00
3083  2023-05-09T11:00:00  0.851279 2023-05-09 11:00:00
3079  2023-05-09T07:00:00  0.285371 2023-05-09 07:00:00

In [7]:
df_tuesday['value'].sum()

624.257497129683

In [8]:
round(df_tuesday['value'].sum())

624