In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('../data/time_series.csv')

In [3]:
print (df.loc[0, 'datetime'], type(df.loc[0, 'datetime']))

2023-01-01T00:00:00 <class 'str'>

In [4]:
df['datetime_obj'] = df['datetime'].apply( lambda x: datetime.datetime.fromisoformat(x) )

In [5]:
df_weekends = df[ (df['datetime_obj'].dt.weekday == 5 ) | (df['datetime_obj'].dt.weekday == 6) ]

In [6]:
df_weekends.sample(20)

                 datetime     value        datetime_obj
6395  2023-09-24T11:00:00  0.746253 2023-09-24 11:00:00
4042  2023-06-18T10:00:00  0.513430 2023-06-18 10:00:00
150   2023-01-07T06:00:00  0.726191 2023-01-07 06:00:00
5557  2023-08-20T13:00:00  0.924251 2023-08-20 13:00:00
3515  2023-05-27T11:00:00  0.703239 2023-05-27 11:00:00
7705  2023-11-18T01:00:00  0.277934 2023-11-18 01:00:00
3879  2023-06-11T15:00:00  0.644147 2023-06-11 15:00:00
5708  2023-08-26T20:00:00  0.638331 2023-08-26 20:00:00
5191  2023-08-05T07:00:00  0.679162 2023-08-05 07:00:00
8073  2023-12-03T09:00:00  0.990994 2023-12-03 09:00:00
4189  2023-06-24T13:00:00  0.380574 2023-06-24 13:00:00
5530  2023-08-19T10:00:00  0.419379 2023-08-19 10:00:00
2360  2023-04-09T08:00:00  0.607861 2023-04-09 08:00:00
7230  2023-10-29T06:00:00  0.542193 2023-10-29 06:00:00
2530  2023-04-16T10:00:00  0.506184 2023-04-16 10:00:00
3382  2023-05-21T22:00:00  0.365190 2023-05-21 22:00:00
3192  2023-05-14T00:00:00  0.031719 2023-05-14 00:00:00
2172  2023-04-01T12:00:00  0.445959 2023-04-01 12:00:00
817   2023-02-04T01:00:00  0.370060 2023-02-04 01:00:00
5859  2023-09-02T03:00:00  0.333731 2023-09-02 03:00:00

In [7]:
df_weekends_evening = df_weekends[ (df_weekends['datetime_obj'].dt.hour >= 18) & (df_weekends['datetime_obj'].dt.hour < 22) ]

In [8]:
df_weekends_evening

                 datetime     value        datetime_obj
18    2023-01-01T18:00:00  0.058814 2023-01-01 18:00:00
19    2023-01-01T19:00:00  0.359729 2023-01-01 19:00:00
20    2023-01-01T20:00:00  0.359829 2023-01-01 20:00:00
21    2023-01-01T21:00:00  0.055348 2023-01-01 21:00:00
162   2023-01-07T18:00:00  0.562734 2023-01-07 18:00:00
...                   ...       ...                 ...
8733  2023-12-30T21:00:00  0.032334 2023-12-30 21:00:00
8754  2023-12-31T18:00:00  0.394590 2023-12-31 18:00:00
8755  2023-12-31T19:00:00  0.976667 2023-12-31 19:00:00
8756  2023-12-31T20:00:00  0.373427 2023-12-31 20:00:00
8757  2023-12-31T21:00:00  0.710711 2023-12-31 21:00:00

[420 rows x 3 columns]

In [9]:
df_weekends_evening['value'].sum()

205.99073693078734

In [10]:
round(df_weekends_evening['value'].sum())

206