In [87]:
from pathlib import Path
import pandas as pd

In [88]:
submissions_path = Path('../data/John Deere Analytics Workshop.csv')
df_submissions = pd.read_csv(submissions_path)

In [89]:
teams_and_pins_path = Path('../data/submission_pins.csv')
df_teams_and_pins = pd.read_csv(teams_and_pins_path)

only keep rows with valid pins

In [90]:
df = df_submissions.merge(df_teams_and_pins, how='inner', left_on='Submission Pin', right_on='pin')

make a datetime column

In [91]:
df['datetime'] = pd.to_datetime(df['Timestamp'])

/var/folders/dj/_mwbb77n38zgmcn3yx6m2ff00000gn/T/ipykernel_30954/3641142192.py:1: FutureWarning: Parsed string "2024/03/27 10:37:12 AM EST" included an un-recognized timezone "EST". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  df['datetime'] = pd.to_datetime(df['Timestamp'])

put most recent submissions first

In [92]:
df.sort_values(by='datetime', inplace=True, ascending=False)

only keep most recent submission per team

In [93]:
df.drop_duplicates(subset='Submission Pin', keep='first', inplace=True)

grade the submissions

In [94]:
df_answers = pd.read_csv('../data/answers.csv')

In [95]:
df['score'] = 0

In [96]:
for question in df_answers['question']:

    correct_answer = df_answers[ df_answers['question'] == question ]['answer'].values[0]

    df_correct = df[ df[ 'Question '+str(question)] == correct_answer ]
    df.loc[ df_correct.index, 'score' ] = df.loc[ df_correct.index, 'score' ]+1

rank winner based on highest score and earliest submission

In [97]:
df.sort_values(by=['score','datetime'], inplace=True, ascending=[False,True])

In [98]:
df

,Timestamp,Submission Pin,Question 1,Question 2,Question 3,Question 4,Question 5,Question 6,Question 7,Question 8,Question 9,Question 10,team,pin,datetime,score
1,2024/03/27 10:37:54 AM EST,22785329,7368787.0,27.0,73.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,1,22785329,2024-03-27 10:37:54,4
2,2024/03/27 11:07:12 AM EST,21886983,NaN,NaN,NaN,11.0,624.0,34.0,206.0,NaN,NaN,NaN,2,21886983,2024-03-27 11:07:12,4
3,2024/03/27 11:11:32 AM EST,78915672,7368787.0,27.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,78915672,2024-03-27 11:11:32,3